<div class="row">
  
  <div class="col-md-3">
    <h3 id="syllabus-r">Python Fundamentals</h3>
    <ul>
      <li>The Shell & Basic Syntax</li>
      <li>String Manipulation</li>
      <li>Variables & Data Types</li>
      <li>For Loops & Indentation</li>
      <li>Building Up Strings</li>
      <li class="optional">Optional: Pygame Basics</li>
      <!--
      <li><a href="https://futurecoder.io/course/#shell">Reference...</a></li>
      -->
    </ul>
  </div>
  
  <div class="col-md-3">
    <h3 id="syllabus-r">Control Flow & Data Structures</h3>
    <ul>
      <li>If/Else/Elif Statements</li>
      <li>Comparison Operators</li>
      <li>Lists & List Operations</li>
      <li>range(), len() & Indexing</li>
      <li>Nested Lists & Loops</li>
      <li>Dictionaries</li>
      <li class="optional">Optional: Pacman Clone Logic</li>
      <!--
      <li><a href="https://futurecoder.io/course/#lists">Reference...</a></li>
      -->
    </ul>
  </div>
  
  <div class="col-md-3">
    <h3 id="syllabus-r">Functions & Debugging</h3>
    <ul>
      <li>Defining & Calling Functions</li>
      <li>Return Values & Scope</li>
      <li>Boolean Logic (and/or/not)</li>
      <li>Debugging with snoop</li>
      <li>Visualization with birdseye</li>
      <li>Python Tutor</li>
      <li class="optional">Optional: Mario-style Physics
